{{- $state := get $ "$state" }}
{{- $spec := $state.spec.effective }}

{{- $dotaistack := dict
    "releaseName" $state.name
    "namespace" $spec.namespace
    "labels" $spec.labels
    "values" $spec.values
    "overrideAllValues" $spec.overrideAllValues
    "providerConfigRef" $spec.providerConfigRef
    "managementPolicies" $spec.managementPolicies
}}

{{- $_ := set $state "dotaistack" $dotaistack }}
